$darkTheme: #222222;
$darkCopy: #ffffff;
$lightTheme: tomato;


%appbar {
    background-color: $darkTheme;
    color: $darkCopy;
    padding: 0.5rem 1rem;
    ul{
        display: flex;
        justify-content: space-between;
    }

}


.dark {
    @extend %appbar;
    background-color: $darkTheme;
    color: $darkCopy;

}
    
.light {
    @extend %appbar;
    background-color: $lightTheme;
    color: $darkCopy;
    a{
        color: white;
    }
}
